<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/create_articles_style.css">
    <title>Create articles</title>
</head>
<body>
    <div id="right">
        <div id="back">
            <a id="back_butt" href="/main">BACK</a>
        </div>
    </div>

    <div class="container">

      <div class="article-author">
        Автор: {{ user_profile|safe }}
      </div><br>

      <div class="create">
        <textarea class="content"></textarea>
      </div>

      <button type="submit" class="content-button">Отправить</button>
      <div id="error"></div>
    </div>

    <script src="../static/js/create_articles.js" type="module"></script>
  </body>
</html>