<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/log_style.css">
    <title>Login</title>
</head>
<body>

    <a href="/registration" id="link_reg">REGISTRATION</a>
    
    <h1>LOGIN</h1>
    <form action="" id="login_form">
        <input type="text" placeholder="name" id="login">
        <input type="text" placeholder="password" id="password">
        <button type="button" id="log">LOGIN</button>
    </form><br>
    <div id="error"></div>

    <script src="../static/js/login.js" type="module"></script>
</body>
</html>